# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
pandas==1.5.2
numpy==1.24.1
marshmallow==3.19.0
tensorflow-cpu==2.11.0
